/* Alexander Rozhkov, frontend developer.
  12.10.2022
  alexrozhkov.com
*/
/* colors root */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-title: #252b42;
  --color-text: #737373;
  --color-orange: #ff7b47;
  --color-secondary-color-1: #0d5c63;
}
/* base setup */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--color-black);
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: Montserrat;
  color: var(--color-text-title);
  font-weight: 500;
  background: #fafafa;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body._lock {
  overflow: hidden;
}
/* ----------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
/* ----------------------------- */
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ----------------------------- */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
/* ----------------------------- */
.active {
  background: #ffffff;
  transition: all 0.5s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
}
/* ----------------------------- */
#header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-title);
  z-index: 51;
}
.header__logo:hover {
  color: var(--color-orange);
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  #header__container {
    justify-content: space-between;
  }
}
/* ----------------------------- */
.header__menu {
}
.menu {
}
.menu__icon {
  display: none;
}
.menu__body {
  margin: 0px 0px 0px 133px;
}
.menu__list > li {
  position: relative;
  margin: 0px 20px 0px 0px;
}
.menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--color-text);
}
.menu__link:hover {
  text-decoration: none;
  color: var(--color-text-title);
  transition: 0.5s;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    transition: 0.5s;
  }
  .menu__list > li {
    padding: 10px 0;
    transition: 0.5s;
  }
}
@media (max-width: 767px) {
  .menu__body {
    margin: 0px 0px 0px 0px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-text-title);
    transition: 0.5s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    padding: 100px 30px 30px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    transition: 0.5s;
  }
  .menu__body._active {
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    transition: 0.5s;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
  }
}
/* ----------------------------- */
.progress-container {
  width: 100%;
  height: 2px;
}
.progress-bar {
  height: 2px;
  background: var(--color-orange);
  width: 0%;
}
/* ----------------------------- */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
/* ----------------------------- */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  line-height: 142%;
  font-size: 40px;
  color: var(--color-text-title);
}
.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
  font-weight: 500;
  line-height: 142%;
  font-size: 14px;
  color: var(--color-text);
}
/* ----------------------------- */
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 530px;
}
.main-block__body > :not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  line-height: 137%;
  letter-spacing: 0.2px;
  font-weight: 800;
  color: var(--color-text-title);
}
.main-block__text {
  color: var(--color-text);
  font-size: 20px;
  line-height: 150%;
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button:hover {
  background: var(--color-text-title);
  transition: all 0.3s ease 0s;
}
.main-block__button_orange {
  background: var(--color-orange);
  color: var(--color-white);
}
.main-block__button_border {
  color: var(--color-secondary-color-1);
  border: 1px solid var(--color-secondary-color-1);
}
.main-block__button_border:hover {
  color: var(--color-white);
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
    transition: 0.5s;
  }
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
    transition: 0.5s;
  }
  .main-block__image {
    opacity: 0.5;
    transition: 0.5s;
  }
}
@media (max-width: 550px) {
  .main-block__title {
    font-size: 42px;
    transition: 0.5s;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
  .main-block__button {
    flex: 1 1 100%;
    transition: 0.5s;
  }
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
  .main-block__text {
    color: #5b5b5b;
    transition: 0.5s;
  }
}
@media (max-width: 405px) {
  .main-block__title {
    font-size: 32px;
  }
}
/* ----------------------------- */
.services {
}
.services__container {
}
.services__body {
}
.services__column {
  flex: 0 1 33.333%;
}
.services__item {
  height: 100%;
  background: var(--color-white);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
}
.item-service {
}
.item-service_green {
  background-color: #0d5c63;
}
.item-service_green .item-service__title {
  color: var(--color-white);
}
.item-service_green .item-service__text {
  color: var(--color-white);
}
.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--color-text-title);
}
.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color-text);
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
    transition: 0.5s;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 479px) {
  .services__item {
    padding: 25px;
    transition: 0.5s;
  }
}
/* ----------------------------- */
.advantages {
  padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
  margin: 0px 0px 50px 0px;
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}
.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
.advantages__item {
  background-color: var(--color-white);
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.advantages__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--color-text);
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
  .header-block__title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
  .header-block__title {
    font-size: 25px;
  }
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
/* ----------------------------- */
.practice {
  padding: 125px 0px 80px 0px;
}
.practice__container {
}
.practice__header {
  margin: 0px 0px 45px 0px;
}
.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
.practice__item {
}
.item-practice {
  background-color: var(--color-white);
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: var(--color-text-title);
  display: inline-block;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 150%;
  font-weight: 700;
}
.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color-text);
}
.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}
@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}
/* ----------------------------- */
.whoweare {
  background: var(--color-white);
  padding: 80px 0px 130px 0px;
}
.whoweare__container {
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: var(--color-text-title);
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color-text);
}
.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--color-text-title);
}
.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
  white-space: nowrap;
  width: 225px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: var(--color-text);
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
  .whoweare__title {
    font-size: 20px;
  }
  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
/* ----------------------------- */
.clients {
  padding: 50px 0;
}
.clients__container {
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  align-items: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}
/* ----------------------------- */
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background: #252b42;
}
._container {
}
.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background: #17213c;
  border-radius: 2px;
}
.subscribe__title {
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: var(--color-white);
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  background: #f9f9f9;
  min-height: 58px;
  padding: 0px 20px;
  color: #737373;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  border-right: 0;
}
.subscribe__input:focus {
  color: #000000;
}
.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  padding: 0px 22px;
}
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__input {
    padding: 0px 15px;
  }
}
/* ----------------------------- */
.getintouch {
  padding: 80px 0px 135px 0px;
}
.getintouch__container {
}
.getintouch__header {
  margin: 0px 0px 80px 0px;
}
.getintouch__items {
  margin: 0px -15px;
}
.getintouch__item {
  flex: 0 1 33.333%;
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 15px;
}
.item-getintouch-active {
  background: #252b42;
  padding: 80px 15px;
  color: #fff;
}
.item-getintouch-active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
.item-getintouch-active .item-getintouch__button:hover {
  border: 1px solid #252b42;
  color: #252b42;
  background: #fff;
}
.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
}
.item-getintouch__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: inherit;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: inherit;
}
.item-getintouch__button {
  border: 1px solid #ff7b47;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ff7b47;
  transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}
@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px;
  }
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
  .item-getintouch-active {
    padding: 50px 15px;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
